$mobile-width: 480px;

$design-font-size: 12px;
$design-font-weight: 500;
$design-font-color: #7165cd;

$design-font-light-color: #979797;

$design-background-color: #FFFFFF;

$design-font-deep-color: #000000;
$design-background-deep-color: #000000;

$design-box-font-color: #5c4b69;
